<%= render "layouts/header" %>

<div class="search-main">
	<div class="filter-container">
		<div class="show-btn-container">
			<div class="show-filter-btn" value="">Show More Filters</div>
		</div>
		<div class="hide-btn-container">
			<div class="hide-filter-btn">Hide Filters</div>
		</div>
		<div class="filters-container">
			<ul style="list-style: none;">
				<li class="checkbox-container" style="float: left; margin-left: -30px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Assisted Living</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #33A3D7; width: 178px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Independant Living</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #EE789F; width: 150px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Residential Care</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #F0890F; width: 130px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Memory Care</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #CA5656; width: 140px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Nursing Home</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #CE80DF; width: 140px; margin-right: 0px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Counting Care</label>	
				</li>
			</ul>
		</div>
		<div class="facility-container">
			<p>Types of Facilities</p>
			<ul style="list-style: none;">
				<li>
					<input id="#input-1" type="checkbox" class='icheck-me' data-skin="square" data-color="yellow" checked="checked">
					<label>Assisted Living</label>	
					<div class="color-box1"><h5>AL</h5></div>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
					<label>Independent Living</label>
					<div class="color-box2"><h5>IC</h5></div>
				</li>
				<li>
					<input id="#input-3" type="checkbox" class='icheck-me' data-skin="square" data-color="orange" checked="checked">
					<label>Residential Care Home</label>
					<div class="color-box3"><h5>RC</h5></div>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="pink">
					<label>CCRC</label>
					<div class="color-box4"><h5>CCRC</h5></div>
				</li>				
			</ul>
		</div>
		<div class="filters1-container">
			<p>Search Filters</p>
			<ul style="list-style: none;">
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="yellow">
					<label>Accepts Medicare</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="blue" checked="checked">
					<label>Accepts SSI</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="orange">
					<label>Only Vacant Listings</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="pink" checked="checked">
					<label>Memory Care</label>
					<div class="color-box5"></div>
				</li>				
			</ul>
		</div>
		<div class="filters2-container">
			<ul style="list-style: none;">
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="purple" checked="checked">
					<label>Hospice/Palliative Care</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="red">
					<label>Allows Pets</label>
				</li>				
			</ul>
			<div class="styled-select1">
			    <select class="query-type" placeholder="Search Radius" value="">
			        <option> Search Radius </option>
			        <option>Short Option</option>
			        <option>This Is A Longer Option</option>
			    </select>
			</div>​
		</div>
	</div>

	<div id="tabs" class="ui-tabs-nav ui-tabs-panel">
	    <ul>
	        <li><a href="#tabs-1">SEARCHED LOCATION</a></li>
	        <li><a href="#tabs-2">GRID VIEW</a></li>
	        <li class="tabs-right"><a href="#tabs-3">LOCAL INFO</a></li>
	    </ul>
	    <div id="tabs-1" class="content-tab">
	        <div class="low-price-btn">Low Prices First</div>
	        <div class="exhibitions">
	        	<div class="place">
	        		<div class="stamp1">
	        			<div class="pic pic1"></div>
	        		</div>
	        		<div class="content-middle">
	        			<div class="color-box1 content-color-box">
	        				<h5>AL</h5>
	        			</div>
	        			<div class="color-box2 content-color-box">
	        				<h5>IL</h5>
	        			</div>
	        			<div class="color-box5 content-color-box">
	        			</div>
	        			<br>
	        			<p style="font-size: 18px; font-weight: 900; margin-top: 10px;">Golden Oaks Senior Living</p>
	        			<p style="font-size: 16px; font-weight: 800; color: #9B9B9B; margin-bottom: 5px;">South Pasadena, CA</p>
	        			<p style="font-size: 14px; font-weight: 600; color: #9B9B9B;">Residents and their families appreciate the great energy of our dedicated and tenured team and our high-quality dining program.</p>
	        		</div>
	        		<div class="dark-flag">
	        			<p style="position: relative; margin: 0 0; left: 47px; top: 25px; font-size: 13px;">FROM</p>
	        			<br>
	        			<p style="position: relative; margin: 0 0; left: 33px; top: 5px; font-size: 24px; font-weight: 900;">$3000</p>
	        		</div>
	        	</div>
	        	<div class="place">
	        		<div class="stamp1">
	        			<div class="pic pic2"></div>
	        		</div>
	        		<div class="content-middle">
	        			<div class="color-box1 content-color-box">
	        				<h5>AL</h5>
	        			</div>
	        			<br>
	        			<p style="font-size: 18px; font-weight: 900; margin-top: 10px;">Golden Oaks Senior Living</p>
	        			<p style="font-size: 16px; font-weight: 800; color: #9B9B9B; margin-bottom: 5px;">South Pasadena, CA</p>
	        			<p style="font-size: 14px; font-weight: 600; color: #9B9B9B;">Residents and their families appreciate the great energy of our dedicated and tenured team and our high-quality dining program.</p>
	        		</div>
	        		<div class="dark-flag">
	        			<p style="position: relative; margin: 0 0; left: 47px; top: 25px; font-size: 13px;">FROM</p>
	        			<br>
	        			<p style="position: relative; margin: 0 0; left: 33px; top: 5px; font-size: 24px; font-weight: 900;">$3000</p>
	        		</div>
	        	</div>
	        	<div class="place">
	        		<div class="stamp1">
	        			<div class="pic pic3"></div>
	        		</div>
	        		<div class="content-middle">
	        			<div class="color-box3 content-color-box">
	        				<h5>RC</h5>
	        			</div>
	        			<br>
	        			<p style="font-size: 18px; font-weight: 900; margin-top: 10px;">Golden Oaks Senior Living</p>
	        			<p style="font-size: 16px; font-weight: 800; color: #9B9B9B; margin-bottom: 5px;">South Pasadena, CA</p>
	        			<p style="font-size: 14px; font-weight: 600; color: #9B9B9B;">Residents and their families appreciate the great energy of our dedicated and tenured team and our high-quality dining program.</p>
	        		</div>
	        		<div class="dark-flag">
	        			<p style="position: relative; margin: 0 0; left: 47px; top: 25px; font-size: 13px;">FROM</p>
	        			<br>
	        			<p style="position: relative; margin: 0 0; left: 33px; top: 5px; font-size: 24px; font-weight: 900;">$3000</p>
	        		</div>
	        	</div>
	        	<div class="place">
	        		<div class="stamp1">
	        			<div class="pic pic4"></div>
	        		</div>
	        		<div class="content-middle">
	        			<div class="color-box1 content-color-box">
	        				<h5>AL</h5>
	        			</div>
	        			<div class="color-box2 content-color-box">
	        				<h5>IL</h5>
	        			</div>
	        			<div class="color-box3 content-color-box">
	        				<h5>RC</h5>
	        			</div>
	        			<br>
	        			<p style="font-size: 18px; font-weight: 900; margin-top: 10px;">Golden Oaks Senior Living</p>
	        			<p style="font-size: 16px; font-weight: 800; color: #9B9B9B; margin-bottom: 5px;">South Pasadena, CA</p>
	        			<p style="font-size: 14px; font-weight: 600; color: #9B9B9B;">Residents and their families appreciate the great energy of our dedicated and tenured team and our high-quality dining program.</p>
	        		</div>
	        		<div class="dark-flag">
	        			<p style="position: relative; margin: 0 0; left: 47px; top: 25px; font-size: 13px;">FROM</p>
	        			<br>
	        			<p style="position: relative; margin: 0 0; left: 33px; top: 5px; font-size: 24px; font-weight: 900;">$3000</p>
	        		</div>
	        	</div>
	        	<div class="place">
	        		<div class="stamp1">
	        			<div class="pic pic5"></div>
	        		</div>
	        		<div class="content-middle">
	        			<div class="color-box1 content-color-box">
	        				<h5>AL</h5>
	        			</div>
	        			<div class="color-box2 content-color-box">
	        				<h5>IL</h5>
	        			</div>
	        			<div class="color-box3 content-color-box">
	        				<h5>RC</h5>
	        			</div>
	        			<br>
	        			<p style="font-size: 18px; font-weight: 900; margin-top: 10px;">Golden Oaks Senior Living</p>
	        			<p style="font-size: 16px; font-weight: 800; color: #9B9B9B; margin-bottom: 5px;">South Pasadena, CA</p>
	        			<p style="font-size: 14px; font-weight: 600; color: #9B9B9B;">Residents and their families appreciate the great energy of our dedicated and tenured team and our high-quality dining program.</p>
	        		</div>
	        		<div class="dark-flag">
	        			<p style="position: relative; margin: 0 0; left: 47px; top: 25px; font-size: 13px;">FROM</p>
	        			<br>
	        			<p style="position: relative; margin: 0 0; left: 33px; top: 5px; font-size: 24px; font-weight: 900;">$3000</p>
	        		</div>
	        	</div>
	        	<div class="place">
	        		<div class="stamp1">
	        			<div class="pic pic6"></div>
	        		</div>
	        		<div class="content-middle">
	        			<div class="color-box1 content-color-box">
	        				<h5>AL</h5>
	        			</div>
	        			<div class="color-box2 content-color-box">
	        				<h5>IL</h5>
	        			</div>
	        			<div class="color-box3 content-color-box">
	        				<h5>RC</h5>
	        			</div>
	        			<br>
	        			<p style="font-size: 18px; font-weight: 900; margin-top: 10px;">Golden Oaks Senior Living</p>
	        			<p style="font-size: 16px; font-weight: 800; color: #9B9B9B; margin-bottom: 5px;">South Pasadena, CA</p>
	        			<p style="font-size: 14px; font-weight: 600; color: #9B9B9B;">Residents and their families appreciate the great energy of our dedicated and tenured team and our high-quality dining program.</p>
	        		</div>
	        		<div class="dark-flag">
	        			<p style="position: relative; margin: 0 0; left: 47px; top: 25px; font-size: 13px;">FROM</p>
	        			<br>
	        			<p style="position: relative; margin: 0 0; left: 33px; top: 5px; font-size: 24px; font-weight: 900;">$3000</p>
	        		</div>
	        	</div>
	        </div>
	        <div class="map_div"></div>
        	<div class="expand-search">
        		<form id="search-form" method="get" action="/search" accept-charset="UTF-8">
					<div class="input-wrapper-map">
						<div class="expand-btn"></div>
						<input id="map-q" class="ui-autocomplete-input" type="text" autocomplete="off" name="q" placeholder="Expand Map">
						<span><a id="map-search-btn" href="search/index">Redo Search in Map</a></span>
					</div>
				</form>
				<div class="map-filter">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<div class="color-box1" style="margin-right: 10px;"><h5>AL</h5></div>	
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">	
					<div class="color-box2" style="margin-right: 10px;"><h5>IC</h5></div>
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">	
					<div class="color-box3" style="margin-right: 10px;"><h5>RC</h5></div>
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<div class="color-box4" style="margin-right: 0px; width: 55px;"><h5>CCRC</h5></div>
				</div>
        	</div>
        	<div class="pages">
        		<div class="pre-btn" style="font-family: Web;">&nbsp;&nbsp;&lt;</div>
        		<div class="pg-btn green-btn" style="margin-left: 20px; font-size: 14px; width: 18px;">&nbsp;1</div>
        		<div class="pg-btn" style="margin-left: 10px; font-size: 14px; width: 18px;">&nbsp;2</div>
        		<div class="pg-btn" style="margin-left: 10px; font-size: 14px; width: 18px;">&nbsp;3</div>
        		<div class="dots" style="margin-left: 10px;">...</div>
        		<div class="pg-btn" style="margin-left: 8px; margin-right: 20px; font-size: 14px; width: 18px;">&nbsp;8</div>
        		<div class="pre-btn" style="font-family: Web; width: 18px;">&nbsp;&nbsp;&gt;</div>
        	</div>
	    </div>
	    <div id="tabs-2" class="content-tab">
	        <p>Content for Tab 2</p>
	    </div>
	    <div id="tabs-3" class="content-tab">
	        <p>Content for Tab 3</p>
	    </div>
	</div>
</div>

<%= render "layouts/footer" %>