<%= render "layouts/header" %>

<div class="search-main">
	<div class="filter-container">
		<div class="show-btn-container">
			<div class="show-filter-btn" value="">Show More Filters</div>
		</div>
		<div class="hide-btn-container">
			<div class="hide-filter-btn">Hide Filters</div>
		</div>
		<div class="filters-container">
			<ul style="list-style: none;">
				<li class="checkbox-container" style="float: left; margin-left: -30px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Assisted Living</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #33A3D7; width: 178px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Independant Living</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #EE789F; width: 150px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Residential Care</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #F0890F; width: 130px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Memory Care</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #CA5656; width: 140px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Nursing Home</label>	
				</li>
				<li class="checkbox-container" style="float: left; background: #CE80DF; width: 140px; margin-right: 0px;">
					<input id="" type="checkbox" class='icheck-me' data-skin="square" data-color="grey" checked="checked">
					<label style="color: white; font-family: MyriadPro; margin-left: 6px;">Counting Care</label>	
				</li>
			</ul>
		</div>
		<div class="facility-container">
			<p>Types of Facilities</p>
			<ul style="list-style: none;">
				<li>
					<input id="#input-1" type="checkbox" class='icheck-me' data-skin="square" data-color="yellow" checked="checked">
					<label>Assisted Living</label>	
					<div class="color-box1"><h5>AL</h5></div>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
					<label>Independent Living</label>
					<div class="color-box2"><h5>IC</h5></div>
				</li>
				<li>
					<input id="#input-3" type="checkbox" class='icheck-me' data-skin="square" data-color="orange" checked="checked">
					<label>Residential Care Home</label>
					<div class="color-box3"><h5>RC</h5></div>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="pink">
					<label>CCRC</label>
					<div class="color-box4"><h5>CCRC</h5></div>
				</li>				
			</ul>
		</div>
		<div class="filters1-container">
			<p>Search Filters</p>
			<ul style="list-style: none;">
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="yellow">
					<label>Accepts Medicare</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="blue" checked="checked">
					<label>Accepts SSI</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="orange">
					<label>Only Vacant Listings</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="pink" checked="checked">
					<label>Memory Care</label>
					<div class="color-box5"></div>
				</li>				
			</ul>
		</div>
		<div class="filters2-container">
			<ul style="list-style: none;">
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="purple" checked="checked">
					<label>Hospice/Palliative Care</label>
				</li>
				<li>
					<input id="check1" type="checkbox" class='icheck-me' data-skin="square" data-color="red">
					<label>Allows Pets</label>
				</li>				
			</ul>
		</div>
	</div>

	<div id="tabs" class="ui-tabs-nav ui-tabs-panel">
	    <ul>
	        <li><a href="#tabs-1">SEARCHED LOCATION</a></li>
	        <li><a href="#tabs-2">GRID VIEW</a></li>
	        <li class="tabs-right"><a href="#tabs-3">LOCAL INFO</a></li>
	    </ul>
	    <div id="tabs-1">
	        <p>Content for Tab 1</p>
	    </div>
	    <div id="tabs-2">
	        <p>Content for Tab 2</p>
	    </div>
	    <div id="tabs-3">
	        <p>Content for Tab 3</p>
	    </div>
	</div>
</div>

<%= render "layouts/footer" %>