<div id="main-page">
	<div id="hfg-header" class="home" style="display: block;">
		<div class="head-container fixedwidth row">
			<div id="search-container" class="span3">
				<form id="search-form" method="get" action="/search" accept-charset="UTF-8">
					<div class="input-wrapper">
						<input id="q" class="ui-autocomplete-input" type="text" autocomplete="off" name="q">
						<span id="search-icon" class='btn'></span>
					</div>
					<div class="bottom"></div>
				</form>
			</div>
			<div id="user-menu">
				<div class="btn" tabindex="0">
					<a class="button1" value="" href="">List your property</a>
				</div>
				<div class="btn nav-link" tabindex="0">
					<a class="button2" value="" href="">Sign up</a>
				</div>
				<div class="btn nav-link" tabindex="0">
					<a class="button3" value="" href="">Sign in</a>
				</div>
			</div>
		</div>
	</div>

	<div><hr class="hr-style1"></div>

	<div class="main-menu-container">
		<div class="">
			<img class="main-logo" alt="Grandma Logo" src="../../assets/images/logo.png" style="display: block;">
		</div>
		<div class="main-menu fixedwidth row">
			<div class="">
				<ul class="menu-left">
					<li><a href="#">HOME</a></li>
					<li class="vertical-bar"><a href="#">ABOUT US</a></li>
					<li class="vertical-bar"><a href="#">APARTMENTS</a></li>
				</ul>
			</div>
			<div class="">
				<ul class="menu-right">
					<li class="vertical-bar"><a href="#">CONTACT US</a></li>
					<li class="vertical-bar"><a href="#">FACILITIES</a></li>
					<li><a href="#">SERVICES</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="background">
		<div class="banner-container">
			<div class="video-clip">
				<a class="video-button" value="" href="#"></a>
			</div>
			<div class="search-box">
				<form id="main-search" method="GET" action="/search">
					<div class="searchbox-container">
						<label>
							<input id="query" type="text" name="search_terms" data-onempty="recent-searches" autocomplete="off" placeholder="Where do you want to find?" value="">
						</label>
						<div class="styled-select">
						    <select class="query-type" placeholder="Type" value="">
						        <option> Type </option>
						        <option>Short Option</option>
						        <option>This Is A Longer Option</option>
						    </select>
						</div>​
						<span>
							<a class="searchbutton" value="" href=""></a>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="main-content1 row">
		<div class="main-content-container">
			<p class="specialfont">Why Home For Grandma is so Awesome!</p>
			<div class="badge1">
			</div>
			<div class="badge2">
			</div>
			<div class="badge3">	
			</div>
			<div class="description">
				<p class="description1">$200 Reward or Charity Donation</p>
				<p class="description2">Share with your family</p>
				<p class="description3">Save &amp; Waitlist</p>
			</div>
		</div>
		<div class="more">
			<p class="more1">Duis eleifend elit non quam dictum quls dignissim dui eleifend. Vivamus sit amet urna nulla, bibendum aliquet urna. Phasellus aliquet dignissim sem.</p>
			<p class="more2">Quisque a lectus quis lacus porttitor commodo ac ac libero. Suspendisse tempor lectus a orcl pellentesque ac fermentum diam sodales.</p>
			<p class="more3">Quisque libero eros, scelerisque ut auctor ac, egestas non nisl. Ut non urna eget velit tempor aliquet sit amet vitae neque. Integer vitae quam leo, gravida molestie sem.</p>
		</div>
	</div>

	<div class="main-content2 row">
		<div class="main-content-container2">
			<p class="specialfont2">Featured Listings</p>
			<div class="paragraph">
				<div class="featuredpic1"></div>
				<div>
					<h3>376 Merchants Rd, Rochester, NY 14609</h3>
					<p class="featured">Proin sit amet massa eu leo semper rhoncus nec ac tellus. Donec fermentum, orcl laculis pilvinar consectetur, justo tellus hendreit magna, et varius ante mi id enim. Nullam ullamcorper est sit amet saplen elementum vitae ullamcorper elit auctor.</p>
					<br>
					<p><font color="#383838">Parking: </font><font color="#767676">Carport</font></p>
					<p><font color="#383838">Basement Type: </font><font color="#767676">Finished</font></p>
					<p><font color="#383838">Fireplace: </font><font color="#767676">Yes</font></p>
					<p><font color="#383838">Floor Covering: </font><font color="#767676">Carpet, Tile</font></p>
				</div>
			</div>
			<div class="paragraph">
				<div class="texts">
					<h3>498 Country Club Ln, Pomona, NY 10970</h3>
					<p class="featured">Ut ac posuere elit. Proin mi augue, semper id elementum non, cursus vel erat. Fusce vestibulum felis vitae ircl egestas mattis. Integer venenatis nisl venenatis urna porttitor sed posuere risus aliquet. Aliquam erat volutpat.</p>
					<br>
					<p><font color="#383838">Cooling: </font><font color="#767676">Central</font></p>
					<p><font color="#383838">Parking: </font><font color="#767676">Carport</font></p>
					<p><font color="#383838">Basement Type: </font><font color="#767676">Finished</font></p>
					<p><font color="#383838">Fireplace: </font><font color="#767676">Yes</font></p>
					<p><font color="#383838">Floor Covering: </font><font color="#767676">Carpet, Tile</font></p>
				</div>
				<div class="featuredpic2"></div>
			</div>
			<div class="paragraph">
				<div class="featuredpic3"></div>
				<div>
					<h3>86 Mcdougal Lake Rd, Cossayuna, NY 12823</h3>
					<p class="featured">Proin sit amet massa eu leo semper rhoncus nec ac tellus. Donec fermentum, orci laculis pulvinar consectetur, justo tellus hendrerit magna, et varius ante mi ld enim. Nullam ullamcorper est sit amet saplen elementum vitae ullamcorper elit auctor.</p>
					<br>
					<p><font color="#383838">Parking: </font><font color="#767676">Carport</font></p>
					<p><font color="#383838">Basement Type: </font><font color="#767676">Finished</font></p>
					<p><font color="#383838">Fireplace: </font><font color="#767676">Yes</font></p>
					<p><font color="#383838">Floor Covering: </font><font color="#767676">Carpet, Tile</font></p>
				</div>
			</div>
		</div>
	</div>

	<div class="home-footer row">
		<div class="footer-container">
			<div>
				<div class="quicklinks1">
					<div class="footer-texts">Quick Links</div>
				</div>
				<div class="quicklinks2">
					<div class="footer-texts">Quick Links</div>
				</div>
				<div class="information">
					<div class="footer-texts">Corporate Information</div>
				</div>
				<div class="location">
					<div class="footer-texts">Company Location</div>
				</div>
			</div>
			<div>
				<div style="margin-bottom: 40px;">
					<ul style="margin-left: 10px;" class="footer-list">
						<li><a href="#">Buy</a></li>
						<li><a href="#">Rent</a></li>
						<li><a href="#">Advice</a></li>
						<li><a href="#">Mortgage</a></li>
						<li><a href="#">Local Info</a></li>
						<li><a href="#">Find Pro</a></li>
						<li><a href="#">Mobile</a></li>
					</ul>
					<ul style="margin-left: -10px;" class="footer-list">
						<li><a href="#">Company Profile</a></li>
						<li><a href="#">Our Parners</a></li>
						<li><a href="#">Our Customers</a></li>
						<li><a href="#">Awards</a></li>
						<li><a href="#">Frequently Asked Questions</a></li>
						<li><a href="#">Careers...We're Hiring!</a></li>
						<li><a href="#">News &amp; Press</a></li>
					</ul>
					<ul style="margin-left: 15px;" class="footer-list">
						<li><a href="#">Accreditations</a></li>
						<li><a href="#">Customer Testimonials</a></li>
						<li><a href="#">Message from our CEO</a></li>
						<li><a href="#">Working with Community</a></li>
						<li><a href="#">Employment</a></li>
					</ul>
					<ul style="padding-left: 0; margin-left: 60px; width: 210px;" class="footer-list">
						<li style="font-weight: bold;">Home For Grandma</li>
						<li class="footer-special1" style="font-size: 12px;">2345 Consectetur Street - Suite 9876 Lorem lpsum, TX 75201</li>
						<li class="footer-special2" style="font-size: 12px;">800 456 7890</li>
						<li class="footer-special3" style="font-size: 12px;">Contact@HomeForGrandma.com</li>
					</ul>
				</div>

				<div style="height: 40px; padding-bottom: 0;">
					<div class="grandma-logo"></div>
					<div class="copyright"><p style="color: #17645F;">Copyright &copy; 2013 - HomeForGrandma.com - All Rights Reserved</p></div>
					<div class="terms">
						<ul>
							<li><a style="margin-right: 10px;" class="social" href="#">Contact Us</a></li>
							<li><a href="#">&bull;  &nbsp;  Terms &amp; Conditions</a></li>
							<li><a style="margin-left: 10px;" href="#">&bull; &nbsp; Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

