<div id="main-page">
	<div id="hfg-header" class="home" style="display: block;">
		<div class="head-container fixedwidth row">
			<div id="search-container" class="span3">
				<form id="search-form" method="get" action="/search" accept-charset="UTF-8">
					<div class="input-wrapper">
						<input id="q" class="ui-autocomplete-input" type="text" autocomplete="off" name="q">
						<span id="search-icon" class='btn'></span>
					</div>
					<div class="bottom"></div>
				</form>
			</div>
			<div id="user-menu">
				<div class="btn" tabindex="0">
					<a class="button1" value="" href="">List your property</a>
				</div>
				<div class="btn nav-link" tabindex="0">
					<a class="button2" value="" href="">Sign up</a>
				</div>
				<div class="btn nav-link" tabindex="0">
					<a class="button3" value="" href="">Sign in</a>
				</div>
			</div>
		</div>
	</div>
	<div><hr class="hr-style"></div>
	<div class="main-menu-container">
		<div class="">
			<img class="main-logo" alt="Grandma Logo" src="../../assets/images/logo.png" style="display: block;">
		</div>
		<div class="main-menu fixedwidth row">
			<div class="">
				<ul class="menu-left">
					<li><a href="#">HOME</a></li>
					<li class="vertical-bar"><a href="#">ABOUT US</a></li>
					<li class="vertical-bar"><a href="#">APARTMENTS</a></li>
				</ul>
			</div>
			<div class="">
				<ul class="menu-right">
					<li class="vertical-bar"><a href="#">CONTACT US</a></li>
					<li class="vertical-bar"><a href="#">FACILITIES</a></li>
					<li><a href="#">SERVICES</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="background">
		<div class="banner-container">
			<div class="video-clip">
				<a class="video-button" value="" href="#"></a>
			</div>
			<div class="search-box">
				<form id="main-search" method="GET" action="/search">
					<div class="searchbox-container">
						<label>
							<input id="query" type="text" name="search_terms" data-onempty="recent-searches" autocomplete="off" placeholder="Where do you want to find?" value="">
						</label>
						<div class="styled-select">
						    <select class="query-type" placeholder="Type" value="">
						        <option> Type </option>
						        <option>Short Option</option>
						        <option>This Is A Longer Option</option>
						    </select>
						</div>​
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="main-content row"></div>
</div>

