/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* CUSTOM FONT */

@import '/_all.css';

@font-face {  
    font-family: 'EfonRegular';  
    src: url('fonts/heydings_icons.ttf');  
    font-weight: normal;  
    font-style: normal;
} 

@font-face {  
    font-family: 'Lobster';
    src: url('fonts/LobsterTwo-Italic.otf'); 
    font-weight: normal;  
    font-style: normal; 
} 

@font-face {  
    font-family: 'Entypo';
    src: url('fonts/Entypo-webfont.ttf'); 
    font-weight: normal;  
    font-style: normal; 
} 

@font-face {  
    font-family: 'PTC';
    src: url('fonts/PTC55F.ttf'); 
    font-weight: normal;  
    font-style: normal; 
}  

@font-face {  
    font-family: 'Web';
    src: url('fonts/WebSymbols-Regular.otf') format('opentype'); 
    font-weight: normal;  
    font-style: normal; 
}

html {
	font-family: Helvetica,Arial,Verdana,sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#hfg-header {
    background: url("images/top-banner.gif");
    background-size: cover;
    font-size: 100%;
    height: 120px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

body .head-container {
	height: 60px;
	margin: 0 auto;
	position: relative;
}

button, input {
	line-height: normal;
	margin: 0;
    vertical-align: baseline;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.fixedwidth {
	width: 1000px;
}

.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}

.span12 {
    width: 940px;
}
.span11 {
    width: 860px;
}
.span10 {
    width: 780px;
}
.span9 {
    width: 700px;
}
.span8 {
    width: 620px;
}
.span7 {
    width: 540px;
}
.span6 {
    width: 460px;
}
.span5 {
    width: 380px;
}
.span4 {
    width: 300px;
}
.span3 {
    width: 220px;
}
.span2 {
    width: 140px;
}
.span1 {
    width: 60px;
}

#search-container {
	float: left;
	position: absolute;
}

#search-form {
	margin: 23px auto 0;
    position: relative;
}

.input-wrapper {
	height: 28px;
    width: 250px;
}

#q {
    color: #098780;
    font-size: 15px;
    position: absolute;
    height: 24px;
    width: 184px;
    padding: 0 15px;
}

#search-icon {
    background: url("images/search-button.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-left: 218px;
    position: absolute;
}

#user-menu {
    float: right;
    margin: 23px auto 0;
}

.button1 {
    color: white;
    font-family: helvetica, arial;
    width: 140px;
    height: 30px;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    position: relative;

    background: #00887D;  
    background: -moz-linear-gradient(top, #00887D, #006B63);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #00887D), color-stop(.5, #00867C), color-stop(.5, #007870), to(#006B63));  
    /* BORDER RADIUS */  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 

    border: 1px solid #22ABA3;
    border-top: 1px solid #009288;

    /* TEXT SHADOW */  
   
  
     /* BOX SHADOW */  
    -moz-box-shadow: 0 1px 3px black;  
    -webkit-box-shadow: 0 1px 3px black;  
    box-shadow: 0 1px 3px black;  
} 

/* FONT GLYPH (MOSTLY FOR FUN) */  
.button1:before {  
    font-family: EfonRegular;  
    content: 'D';  
    color: white;  
    font-size: 15px; 
    line-height: 27px; 
    float: left;  
    margin-left: 7px;  
    margin-right: -5px;  
    margin-bottom: 5px; 
} 

/* WHILE HOVERED */  
.button1:hover {  
    background: #014464;  
    background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));  
}  
  
/* WHILE BEING CLICKED */  
.button1:active {  
    -moz-box-shadow: 0 2px 6px black;  
    -webkit-box-shadow: 0 2px 6px black;  
} 

.button2 {
    color: white;
    font-family: helvetica, arial;
    width: 80px;
    height: 30px;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    position: relative;

    background: #00887D;  
    background: -moz-linear-gradient(top, #00887D, #006B63);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #00887D), color-stop(.5, #00867C), color-stop(.5, #007870), to(#006B63));  
    /* BORDER RADIUS */  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 

    border: 1px solid #22ABA3;
    border-top: 1px solid #009288;

    /* TEXT SHADOW */    
  
     /* BOX SHADOW */  
    -moz-box-shadow: 0 1px 3px black;  
    -webkit-box-shadow: 0 1px 3px black;  
    box-shadow: 0 1px 3px black;  
} 

/* FONT GLYPH (MOSTLY FOR FUN) */  
.button2:before {  
    font-family: EfonRegular;  
    content: 'w';  
    color: white;  
    font-size: 15px; 
    line-height: 27px; 
    float: left;  
    margin-left: 7px;  
    margin-right: -3px;  
    margin-bottom: 5px; 
} 

/* WHILE HOVERED */  
.button2:hover {  
    background: #014464;  
    background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));  
}  
  
/* WHILE BEING CLICKED */  
.button2:active {  
    -moz-box-shadow: 0 2px 6px black;  
    -webkit-box-shadow: 0 2px 6px black;  
} 

.button3 {
    color: white;
    font-family: helvetica, arial;
    width: 80px;
    height: 30px;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    position: relative;

    background: #00887D;  
    background: -moz-linear-gradient(top, #00887D, #006B63);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #00887D), color-stop(.5, #00867C), color-stop(.5, #007870), to(#006B63));  
    /* BORDER RADIUS */  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 

    border: 1px solid #22ABA3;
    border-top: 1px solid #009288;

    /* TEXT SHADOW */   
  
     /* BOX SHADOW */  
    -moz-box-shadow: 0 1px 3px black;  
    -webkit-box-shadow: 0 1px 3px black;  
    box-shadow: 0 1px 3px black;  
} 

/* FONT GLYPH (MOSTLY FOR FUN) */  
.button3:before {  
    font-family: EfonRegular;  
    content: 'L';  
    color: white;  
    font-size: 15px; 
    line-height: 27px; 
    float: left;  
    margin-left: 7px;  
    margin-right: -3px;  
    margin-bottom: 5px; 
} 

/* WHILE HOVERED */  
.button3:hover {  
    background: #014464;  
    background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));  
}  
  
/* WHILE BEING CLICKED */  
.button3:active {  
    -moz-box-shadow: 0 2px 6px black;  
    -webkit-box-shadow: 0 2px 6px black;  
} 


.nav-link {
    margin-left: 2px;
}

.hr-style1{
    margin: 0px 0 5px;
    border: 0 none;
    box-shadow: 0 12px 12px -12px rgba(143, 122, 16, 1) inset;
    height: 15px;
}

.hr-style2{
    margin: 0px 0 5px;
    border: 0 none;
    box-shadow: 0 12px 12px -12px rgba(143, 122, 16, 1) inset;
    height: 15px;
}

.main-logo {
    height: 145px;
    width: 190px;
    position: absolute;
    top: 5%;
    left: 43%;
    z-index: 2000;
}

.main-menu {
    background: url("images/menubar.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 1000px 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    margin-top: -50px;
    z-index: 1500;

    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 
}

.menu-left {
    float: left;
    direction: ltr;
}

.menu-right {
    float: right;
    direction: rtl;
}

.menu-left li {
    display: inline-block;
    margin-right: 20px;
    line-height: 35px;
}

.menu-right li {
    display: inline-block;
    margin-left: 18px;
    line-height: 35px;
}

li a {
    color: #E9DEAF;
}

.vertical-bar:before {   
    font-family: EfonRegular;  
    content: '|';  
    color: #E9DEAF;  
    font-size: 14px; 
    line-height: 27px; 
    float: left;  
    margin-right: 20px;  
    margin-bottom: 5px; 
}

.background {
    background: url("http://farm3.staticflickr.com/2876/10974925193_134f733ca0_b.jpg");
    background-size: cover;
    font-size: 100%;
    height: 475px;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin-top: -25px;
}

.banner-container {
    margin: 0 auto;
    padding: 40px 0 0 0;
    position: relative;
    width: 1000px;
    height: 400px;
    z-index: 2000;
}

.banner-container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.video-button {
    background: url("images/banner1.png");
    background-size: cover;
    float: left;
    font-family: 'proxima-nova-regular','helvetica neue',helvetica,arial,sans-serif;
    margin-left: 13%;
    margin-top: 15%;
    color: white;
    font-family: helvetica, arial;
    width: 182px;
    height: 165px;
    display: block;
    position: relative;

    /* BORDER RADIUS */  
    -moz-border-radius: 7px;  
    -webkit-border-radius: 7px;  
    border-radius: 7px; 
    border: 3px solid #E9DEAF;
}

/* WHILE HOVERED */  
.video-button:hover {  
    background: url("images/banner1.png");
    background-color: #FFF;
    background-size: cover; 
}  
  
/* WHILE BEING CLICKED */  
.video-button:active {  
    -moz-box-shadow: 0 2px 6px black;  
    -webkit-box-shadow: 0 2px 6px black;  
} 

.search-box {
    background: url("images/banner2.png");
    background-size: cover;
    float: left;
    font-family: 'proxima-nova-regular','helvetica neue',helvetica,arial,sans-serif;
    margin-left: 1%;
    margin-top: 15%;
    color: white;
    font-family: helvetica, arial;
    width: 550px;
    height: 165px;
    display: block;
    position: relative;

    /* BORDER RADIUS */  
    -moz-border-radius: 7px;  
    -webkit-border-radius: 7px;  
    border-radius: 7px; 
    border: 3px solid #E9DEAF;
}

.searchbox-container {
    position: relative;
    height: 30px;
    width: 600px;
    margin-top: 90px;
    margin-left: 40px;
}

#query {
    font-family: 'proxima-nova-regular','helvetica neue',helvetica,arial,sans-serif;
    color: #098780;
    font-size: 16px;
    position: absolute;
    padding: 5px 15px;
    width: 250px;
    height: 20px;
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px; 
    border: 1px solid #CCCCCC;
}

.styled-select select {
    font-family: 'proxima-nova-regular','helvetica neue',helvetica,arial,sans-serif;
    color: #098780;
    background: transparent;
    font-size: 16px;
    height: 30px;
    width: 160px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; /*for chrome*/
    text-decoration: none;
    padding: 2px 2px;
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px; 
    border: 0.1px solid #CCCCCC;
}

.styled-select select:focus { 
    outline: none; 
    -moz-outline: none;
    -webkit-outline: none;
}

.styled-select select:active { 
    outline: none; 
    -moz-outline: none;
    -webkit-outline: none;
}

select::-moz-focus-inner{border:none;}

.styled-select {
    height: 30px;
    margin-left: 290px;
    width: 140px;
    overflow: hidden;
    background: url("images/down-arrow.png") no-repeat right #FFF;

    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px; 
    border: 1px solid #CCCCCC;
}

.main-content1 {
    background: url("http://farm3.staticflickr.com/2809/10974788296_16eda850d2_b.jpg") no-repeat;
    background-size: cover;
    font-size: 100%;
    height: 470px;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
    margin-top: -5px;
}

.specialfont:before {
    font-family: Entypo;
    font-size: 34px;
    content: '777';  
    color: #C3B072; 
    margin-right: 50px; 
    margin-left: 95px;
    line-height: 34px;
}

.specialfont:after {
    font-family: Entypo;
    font-size: 34px;
    content: '777';  
    color: #C3B072; 
    margin-right: 50px; 
    margin-left: 50px;
    line-height: 34px;
}

.searchbutton {
    height: 30px;
    width: 35px;
    background: url("images/searchbutton.png") center no-repeat #09877F;
    display: inline-block;
    right: 125px;
    bottom: 32px;
    position: relative;
    float: right;

    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px; 
    border: 1px solid #09877F;
}

.main-content-container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 300px;
    z-index: 2500;
}

.specialfont {
    font-family: Lobster;
    font-size: 40px;
    color: #188573;
}

.badge1 {
    background: url("images/badge1.png") no-repeat;
    background-size: cover;
    height: 160px;
    width: 160px;
    z-index: 2700;
    position: relative;
    margin-left: 100px;
    display: inline-block;
}

.badge2 {
    background: url("images/badge2.png") no-repeat;
    background-size: cover;
    height: 160px;
    width: 200px;
    z-index: 2700;
    position: relative;
    margin-left: 140px;
    display: inline-block;
}

.badge3 {
    background: url("images/badge3.png") no-repeat;
    background-size: cover;
    height: 160px;
    width: 140px;
    z-index: 2700;
    position: relative;
    margin-left: 150px;
    display: inline-block;
}

.description p {
    font-family: PTC;
    font-size: 16px;
    color: #0D6F6C;
    width: 230px;
    margin-top: 5px;
    letter-spacing:-1px;
    display: inline-block;
}

.description1 {
    margin-left: 66px; 
    margin-right: 35px; 
}

.description2 {
    margin-left: 90px; 
}

.description3 {
    width: 150px !important;
    margin-left: 115px; 
    margin-right: 10px; 
}

.more {
    font-family: PTC;
    font-size: 14px;
    color: #616160;

    margin-top: 5px;
    letter-spacing:-1px;

    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 300px;
    z-index: 2500;

    margin-top: -20px;
    text-align: center;

}

.more1 {
    width: 275px;
    height: 150px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 50px;
    position: relative;
}


.more2 {
    width: 275px;
    height: 150px;
    margin-right: 10px;
    display: inline-block;
    position: relative;

}

.more3 {
    width: 275px;
    height: 150px;
    padding-left: 40px;
    display: inline-block;
    position: relative;

}

.main-content2 {
    background: url("images/content2-background2.png");
    background-repeat: repeat;
    font-size: 100%;
    height: 850px;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

.main-content-container2 {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 850px;
    z-index: 2500;    
}

.main-content-container2 h3 {
    font-family: PTC;
    color: #0D6F6C;
    letter-spacing: -1px;
}

.featured {
    font-family: PTC;
    color: #616160;
    font-size: 14px;
    letter-spacing: -1px;
}

.specialfont2 {
    font-family: Lobster;
    font-size: 40px;
    color: #188573;
    text-align: center;
}

.specialfont2:before {
    font-family: Entypo;
    font-size: 34px;
    content: '777';  
    color: #C3B072; 
    margin-right: 50px; 
    line-height: 34px;
}

.specialfont2:after {
    font-family: Entypo;
    font-size: 34px;
    content: '777';  
    color: #C3B072; 
    margin-left: 50px;
    line-height: 34px;
}


.featuredpic1 {
    width: 320px;
    height: 190px;
    display: inline-block;
    border: 8px solid #EEEDEC;

    background: url("images/sample1.gif") no-repeat;
    background-size: contain;
    position: relative;
    float: left;

    margin-left: 50px;
    margin-right: 50px;

}

.paragraph p {
    margin: 4px 0;
    text-align: left;
}

.paragraph {
    margin-bottom: 50px;
    height: 200px;
}

.texts {
    width: 500px;
    float: left;
    margin-left: 50px;
}

.texts h3 {
    margin-top: 0;
}

.featuredpic2 {
    width: 320px;
    height: 190px;
    display: inline-block;
    border: 8px solid #EEEDEC;

    background: url("images/sample2.gif") no-repeat;
    background-size: contain;
    position: relative;
    float: right;

    margin-right: 30px;
}

.featuredpic3 {
    width: 320px;
    height: 190px;
    display: inline-block;
    border: 8px solid #EEEDEC;

    background: url("images/sample3.gif") no-repeat;
    background-size: contain;
    position: relative;
    float: left;

    margin-left: 50px;
    margin-right: 50px;
}

.home-footer {
    background: url("images/footer-background.gif") no-repeat;
    background-size: cover;
    font-size: 100%;
    height: 340px;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

.footer-container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 300px;
    z-index: 2500;   
    margin-top: 40px; 
}

.quicklinks1 {
    background: url("images/tie.png") no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;

    display: inline-block;
}

.quicklinks2 {
    background: url("images/tie.png") no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;
    margin-left: 35px;
    display: inline-block;
}

.information {
    background: url("images/tie.png") no-repeat;
    background-size: cover;
    width: 230px;
    height: 40px;
    margin-left: 35px;
    display: inline-block;
}

.location {
    background: url("images/tie.png") no-repeat;
    background-size: cover;
    width: 210px;
    height: 40px;
    margin-left: 35px;
    display: inline-block;
}

.footer-texts {
    width: 150px;
    height: 30px;

    font-family: Lobster;
    font-size: 15px;
    color: #E0E1E1;
    font-weight: 100;

    margin-left: 70px;
    margin-top: 10px;
}

.footer-list {
    list-style-type: none;
    font-family: PTC;

    font-size: 13px;
    line-height: 13px;

    height: 150px;
    width: 190px;

    display: inline-block;
    vertical-align: top;

    color: #17645F;
}

.footer-list li {
    margin-bottom: 5px;
    line-height: 15px;
}

.footer-list a {
    color: #17645F;
}

.footer-list a:before {
    font-family: Web;
    font-size: 8px;
    content: '>';  
    color: #17645F; 
    line-height: 13px;
    margin-right: 5px;
}

.footer-list-special {
    list-style-type: none;
    font-family: PTC;

    font-size: 13px;
    line-height: 13px;

    height: 150px;
    width: 190px;

    display: inline-block;
    vertical-align: top;

    color: #17645F;
}

.footer-special1:before {
    font-family: Entypo;
    font-size: 22px;
    content: '$';  
    color: #17645F; 
    line-height: 13px;
    margin-right: 5px;
}

.footer-special2:before {
    font-family: Entypo;
    font-size: 22px;
    content: '!';  
    color: #17645F; 
    line-height: 13px;
    margin-right: 5px;
}

.footer-special3:before {
    font-family: Entypo;
    font-size: 22px;
    content: '%';  
    color: #17645F; 
    margin-right: 5px;
}

.grandma-logo {
    background: url("images/grandma.png") no-repeat;
    background-size: contain;
    width: 26px;
    height: 33px;
    margin-left: 35px;
    margin-right:10px;
    display: inline-block;
    float: left;
}

.copyright {
    display: inline-block; 
    width: 420px;
    float: left;

    font-family: PTC;
    font-size: 13px;
}

.copyright p {
    margin-top: 10px;
}

.terms {
    width: 500px;
    height: 20px;

    display: inline-block;
}

.terms ul {
    list-style-type: none;
    font-family: PTC;
    margin: 0 0;
    margin-top: 10px;

    height: 20px;

    font-size: 13px;
}

.terms li a {
    display: inline-block;
    float: left;

    color: #17645F; 
}

.terms li:before{
    content: '';
}

.social:before {
    font-family: Web;
    font-size: 14px;
    content: 'k f g';  
    color: #17645F; 
    line-height: 13px;
    margin-right: 25px;

}

#search-header {
    background: url("images/top-banner.gif");
    background-size: cover;
    font-size: 100%;
    height: 200px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.button-list {
    margin-top: 25px;
}

.left-button {
    display: inline-block;
    float: left;
}

.right-button {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.menu-container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 140px;
    z-index: 2500;
}

#header-page .main-menu {
    background: url("images/menubar.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 1000px 60px;
    height: 50px;
    margin: 0 auto;
    top: 75px;
    position: absolute;
    margin-top: -50px;
    z-index: 1500;

    -moz-border-radius: 8px;  
    -webkit-border-radius: 8px;  
    border-radius: 8px; 

    border: 2px solid #E9DEAF;
    border-top: 4px solid #E9DEAF;
    border-bottom: 4px solid #E9DEAF;
}

#header-page .main-menu li {
    line-height: 24px;
}

#header-page .main-menu li a {
    color: #E9DEAF;
}

#header-page .main-logo {
    height: 145px;
    width: 190px;
    position: absolute;
    top: -14%;
    left: 40%;
    z-index: 2000;
}

#header-q {
    color: #098780;
    font-size: 15px;
    bottom: 12px;
    position: absolute;
    height: 22px;
    width: 200px;
    padding: 0 15px;
    margin-left: 15px;
}

#header-search-btn {
    color: white;
    font-family: helvetica, arial;
    width: 120px;
    height: 30px;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    left: 260px;
    bottom: 11px;
    position: absolute;

    background: #039C93;  
    background: -moz-linear-gradient(top, #039C93, #006B63);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #039C93), color-stop(.5, #00867C), color-stop(.5, #007870), to(#006B63));  
    /* BORDER RADIUS */  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 

    border: 1px solid #22ABA3;
    border-top: 1px solid #009288;

    /* TEXT SHADOW */  
   
  
     /* BOX SHADOW */  
    -moz-box-shadow: 0 1px 3px black;  
    -webkit-box-shadow: 0 1px 3px black;  
    box-shadow: 0 1px 3px black; 
}

#header-search-btn:after {
    font-family: Web;  
    content: 'L';  
    color: white;  
    font-size: 15px; 
    line-height: 27px; 
    float: right;  
    margin-left: 2px;
    margin-right: 10px;   
    margin-bottom: 5px; 
}

#header-search-btn:hover {  
    background: #014464;  
    background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));  
} 









