@import '/icheck/square/_all.css';

@font-face {  
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Light.otf'); 
    font-weight: normal;  
    font-style: normal; 
} 

@font-face {  
    font-family: 'PTC';
    src: url('fonts/PTC55F.ttf'); 
    font-weight: normal;  
    font-style: normal; 
} 

@font-face {  
    font-family: 'PTS76F';
    src: url('fonts/PTS76F.ttf'); 
    font-weight: normal;  
    font-style: normal; 
}  

@font-face {  
    font-family: 'PTS56F';
    src: url('fonts/PTS56F.ttf'); 
    font-weight: normal;  
    font-style: normal; 
}

.search-main {
	background: #F2F0EA;
    font-size: 100%;
    height: 2000px;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

.filter-container {
	margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 100px;
    z-index: 2500;
}

.facility-container {
	font-family: MyriadPro;
	display: inline-block;
	width: 302px;
	height: 180px;
	margin-left: 2px;
	float: left;

	background: url("images/filter-background.gif");
    background-repeat: repeat;
}

.filters1-container {
	font-family: MyriadPro;
	display: inline-block;
	width: 302px;
	height: 180px;
	margin-left: 42px;

	float: left;

	background: url("images/filter-background.gif");
    background-repeat: repeat;
}

.filters2-container {
	font-family: MyriadPro;
	display: inline-block;
	width: 305px;
	height: 180px;
	margin-left: 46px;

	float: left;

	background: url("images/filter-background.gif");
    background-repeat: repeat;
}

.filters-container {
	font-family: MyriadPro;
	display: inline-block;
	width: 1000px;
	height: 54px;
	margin: 0 auto;

    background: #EDEBE5;  
   
    /* BORDER RADIUS */  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 

    -moz-box-shadow:inset 0 0 20px #E0DED9;               /* For Firefox3.6+ */
	-webkit-box-shadow:inset 0 0 20px #E0DED9;            /* For Chrome5+, Safari5+ */
	box-shadow:inset 0 0 20px #E0DED9;                    /* For Latest Opera */
}

.show-btn-container {
    display: block;
    left: 84%;
    position: absolute;
    width: 160px;
    height: 40px;
    margin-top: -45px;
    float: right;
}

.hide-btn-container {
    display: block;
    left: 84%;
    position: absolute;
    width: 160px;
    height: 40px;
    margin-top: -45px;
    float: right;
}

.show-filter-btn {
	font-family: MyriadPro;
    color: #989A99;
    font-weight: 900;
    width: 160px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
	position: relative;
 	cursor: pointer;
 	float: right;
}

.hide-filter-btn {
	font-family: MyriadPro;
    color: #989A99;
    font-weight: 900;
    width: 160px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
	position: relative;
 	cursor: pointer;
 	float: right;
}

.show-filter-btn:before {
	font-family: Web;
	content: ']';
	color: #989A99;
	margin-right: 10px;
}

.hide-filter-btn:before {
	font-family: Web;
	content: '[';
	color: #989A99;
	margin-right: 10px;
}

.filter-container p {
	color: #048A7F;
	font-weight: 900;
	font-family: MyriadPro;
	font-size: 18px;
	margin: 20px 20px;
	margin-bottom: 10px;
}

.filter-container ul {
	margin: 0 0;
}

.filter-container label {
	color: black;
	font-weight: 900;

	line-height: 24px;

	position: absolute;
	margin-top: 1px;
	margin-left: 5px;

	display: inline-block;
}

.color-box1 {
	width: 40px;
	height: 21px;
	background: radial-gradient(ellipse, #28C5BC, #24B3AB);
	background: -webkit-radial-gradient(ellipse, #ace, #28C5BC, #24B3AB);
	background: -moz-radial-gradient(ellipse, #ace, #28C5BC, #24B3AB);

	display: inline-block;

	float: right;
	margin-right: 70px;

	-moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;

	box-shadow: 0 1px 2px black; 
    -moz-box-shadow: 0 1px 2px black;  
    -webkit-box-shadow: 0 1px 2px black;   
}

.color-box2 {
	width: 40px;
	height: 21px;
	background: radial-gradient(ellipse, #35A9DF, #319CCE);
	background: -webkit-radial-gradient(ellipse, #ace, #35A9DF, #319CCE);
	background: -moz-radial-gradient(ellipse, #ace, #35A9DF, #319CCE);

	display: inline-block;

	float: right;
	margin-right: 40px;

	-moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;

	box-shadow: 0 1px 2px black; 
    -moz-box-shadow: 0 1px 2px black;  
    -webkit-box-shadow: 0 1px 2px black;   
}

.color-box3 {
	width: 40px;
	height: 21px;
	background: radial-gradient(ellipse, #EF78A0 30%, #DE7094);
	background: -webkit-radial-gradient(ellipse, #ace, #EF78A0 30%, #DE7094);
	background: -moz-radial-gradient(ellipse, #ace, #EF78A0 30%, #DE7094);

	display: inline-block;

	float: right;
	margin-right: 20px;

	-moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;

	box-shadow: 0 1px 2px black; 
    -moz-box-shadow: 0 1px 2px black;  
    -webkit-box-shadow: 0 1px 2px black;   
}

.color-box4 {
	width: 50px;
	height: 21px;
	background: radial-gradient(ellipse, #D182E3 10%, #C77BDB 20%);
	background: -webkit-radial-gradient(ellipse, #ace, #D182E3 10%, #C77BDB 20%);
	background: -moz-radial-gradient(ellipse, #ace, #D182E3 10%, #C77BDB 20%);

	display: inline-block;

	float: right;
	margin-right: 130px;

	-moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;

	box-shadow: 0 1px 2px black; 
    -moz-box-shadow: 0 1px 2px black;  
    -webkit-box-shadow: 0 1px 2px black;   
}

h5 {
	font-family: MyriadPro;
	margin: 4px 12px;
	color: white;
}

.color-box5 {
	width: 45px;
	height: 25px;
	background: url('images/MC.png') no-repeat;	
	background-size: contain;

	display: inline-block;

	float: right;
	margin-right: 80px;   
}

.filters2-container ul {
	margin-top: 20px;
}

.checkbox-container {
	width: 143px;
	height: 30px;

	background: #28C4BB;
	display: inline-block;

	-moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;

    margin-top: 10px;
    margin-right: 8px;
    padding-top: 5px;
    padding-left: 10px;

    color: white;
}

#tabs {
    padding: 0px; 
    background: none; 
    border-width: 0px;
    margin: 0 auto;
    width: 1000px;
}

#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    padding-right: 0px;
    background: transparent; 
    border-width: 0px 0px 0px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

#tabs .ui-tabs-panel { 
    border-width: 0px 1px 1px 1px; 
}

#tabs .tabs-right {
	float: right;
	margin-right: 0px;    
}

#tabs li {
	-moz-border-top-left-radius: 5px; 
	-moz-border-top-right-radius: 5px;  
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;  
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;

    border: 0px solid #BFBFBF;
}

.change-height {
	height: 200px;
}

#tabs ul li a {
	font-family: PTS56F;
	color: white;
	font-size: 18px;
	font-weight: 500;
}

.ui-state-default {
	background: #ACACAC !important;
}

.ui-state-active {
	background: #1C6F6C !important;
	background: -moz-linear-gradient(top, #1C6F6C, #0B504B) !important;  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #1C6F6C), color-stop(.5, #0B504B), color-stop(.5, #0B504B), to(#1C6F6C)) !important;
}

.styled-select1 select {
    font-family: MyriadPro;
    color: #B3B3B3;
    font-weight: 900;
    background: transparent;
    font-size: 16px;
    height: 30px;
    width: 240px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; /*for chrome*/
    text-decoration: none;
    padding: 4px 4px;
    padding-top: 5px;
    padding-left: 6px;
    -moz-border-radius: 2px;  
    -webkit-border-radius: 2px;  
    border-radius: 2px; 
    border: 1px solid #B2B1B0;
}

.styled-select1 select:focus { 
    outline: none; 
    -moz-outline: none;
    -webkit-outline: none;
}

.styled-select1 select:active { 
    outline: none; 
    -moz-outline: none;
    -webkit-outline: none;
}

.styled-select1 {
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    width: 220px;
    overflow: hidden;
    background: url("images/selection-arrow.gif") no-repeat right #FFF;

    -moz-border-radius: 2px;  
    -webkit-border-radius: 2px;  
    border-radius: 2px; 
    border: 1px solid #B2B1B0;
}

.content-tab {
	height: 1500px;
	background: #F3F2EF;

	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;

    border: 0px solid white !important; 

    -moz-box-shadow:inset 0 0 20px #E0DED9;               /* For Firefox3.6+ */
	-webkit-box-shadow:inset 0 0 20px #E0DED9;            /* For Chrome5+, Safari5+ */
	box-shadow:inset 0 0 20px #E0DED9;                    /* For Latest Opera */
}

.low-price-btn {
    display: block;
    left: 42%;
    color: #9B9A99;
    position: relative;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.low-price-btn:before {
	font-family: Web;
	content: '[';
	color: #9B9A99;
	margin-right: 10px;
}

.exhibitions {
	height: 1200px;
	width: 600px;
	margin-right: 10px;
	margin-left: 10px;
}

.map {
	height: 400px;
	width: 350px;
}

.place {
	height: 180px;
	width: 600px;
	background: #FEFEFE;

	background: radial-gradient(ellipse, #FEFEFE 40%, #FDFDFC 60%);
	background: -webkit-radial-gradient(ellipse, #FEFEFE 40%, #FDFDFC 60%);
	background: -moz-radial-gradient(ellipse, #FEFEFE 40%, #FDFDFC 60%);

	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;

    margin-bottom: 10px;

    cursor: pointer;
}

.place-active {
	background: radial-gradient(ellipse, #FBFDFD 40%, #E8F5F5 60%) !important;
	background: -webkit-radial-gradient(ellipse, #FBFDFD 40%, #E8F5F5 60%) !important;
	background: -moz-radial-gradient(ellipse, #FBFDFD 40%, #E8F5F5 60%) !important;	
}

.stamp {
	position: relative;
	top: 10px;
	left: 10px;
	width: 186px;
	height: 160px;
	background: url('images/stampframe.png');
	background-size: cover;
}
