<script type="text/javascript">


  jQuery(document).ready(function ($) {
      icheck();
        $( ".facility-container" ).hide();
        $( ".filters1-container" ).hide();
        $( ".filters2-container" ).hide();
        $( ".hide-btn-container" ).hide();

      $(".show-btn-container").bind("click",function(){
        $( ".facility-container" ).show();
        $( ".filters1-container" ).show();
        $( ".filters2-container" ).show();
        $( ".show-btn-container" ).hide();
        $( ".filters-container" ).hide();
        $( ".hide-btn-container" ).show();
        $( ".filter-container").addClass("change-height");
       });

      $(".hide-btn-container").bind("click",function(){
        $( ".facility-container" ).hide();
        $( ".filters1-container" ).hide();
        $( ".filters2-container" ).hide();
        $( ".show-btn-container" ).show();
        $( ".filters-container" ).show();
        $( ".hide-btn-container" ).hide();
        $( ".filter-container").removeClass("change-height");
       });

      $(".place").hover(function(){
        $(this).addClass("place-active").siblings().removeClass("place-active");
        $(this).find('> .stamp1').addClass("stamp2");
        $(this).find('> .dark-flag').addClass('golden-flag');
      }, function(){
        $(this).find('> .stamp1').removeClass("stamp2");
        $(this).find('> .dark-flag').removeClass("golden-flag");
        $(this).removeClass("place-active");
      }
      );

      jQuery('.map_div').CustomMarker({icon_url: 'http://farm4.staticflickr.com/3823/11062941976_1b376d67ae_o.png'});
  });

  function icheck(){
    if($(".icheck-me").length > 0){
      $(".icheck-me").each(function(){
        var $el = $(this);
        var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
        color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
        var opt = {
          checkboxClass: 'icheckbox' + skin + color,
          radioClass: 'iradio' + skin + color,  
        }
        $el.iCheck(opt);
      });
    }
  }  

  $("#tabs").tabs();

      (function ( $ ) {
      $.fn.CustomMarker = function( options ) {
        var settings = $.extend({
          icon_url: ''
        }, options );
        
        return this.each(function() { 
          var element = $(this);
          
          function displayCurrentPosition(data) {
            element.html('<div class="map-canvas"></div>');
            
            var options = {
              center: new google.maps.LatLng(34.148181,-118.145027),
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              zoom: 14,
              disableDefaultUI: true
            };
            
            var map = new google.maps.Map(element[0], options);

            var icon = { 
              url: settings.icon_url
            };

            var marker1 = new google.maps.Marker({
              position: new google.maps.LatLng(34.148181,-118.145027),
              map: map,
              icon: icon,
              draggable: false
            });

            var marker2 = new google.maps.Marker({
              position: new google.maps.LatLng(34.15383,-118.152945),
              map: map,
              icon: icon,
              draggable: false
            });

            var marker3 = new google.maps.Marker({
              position: new google.maps.LatLng(34.154165,-118.146032),
              map: map,
              icon: icon,
              draggable: false
            });

            var marker4 = new google.maps.Marker({
              position: new google.maps.LatLng(34.145766,-118.150474),
              map: map,
              icon: icon,
              draggable: false
            });

            var marker5 = new google.maps.Marker({
              position: new google.maps.LatLng(34.1512,-118.132346),
              map: map,
              icon: icon,
              draggable: false
            });

            var marker6 = new google.maps.Marker({
              position: new google.maps.LatLng(34.149744,-118.150603),
              map: map,
              icon: icon,
              draggable: false
            });
          }
          
          function onError(error) {
            switch(error.code) {
              case error.PERMISSION_DENIED:
                element.text('Access to location API denied by user');
                break;
              case error.POSITION_UNAVAILABLE:
                element.text('Unable to determine location');
                break;
              case error.TIMEOUT:
                element.text('Unable to determine location, the request timed out');
                break;
              case error.UNKNOWN_ERROR:
                element.text('An unknown error occurred!');
                break;
            }
          }
          
          if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(displayCurrentPosition, onError);
          } else {
            element.text('Geolocation is not supported by this browser, please upgrade to a more recent version');
          }
        });

      };
     
    }( jQuery ));
</script>
