<div id="header-page">
	<div id="search-header" class="home" style="display: block;">
		<div class="head-container fixedwidth row">
			<div class="button-list">
				<div class="btn nav-link right-button" tabindex="1">
					<a class="button5" value="" href="">Facility Early Preview &amp; Signup</a>
				</div>
			</div>
		</div>

		<div class="menu-container row">
			<div class="">
				<img class="main-logo" alt="Grandma Logo" src="../../assets/images/HOME-FOR-GRANDMA.gif" style="display: block;">
			</div>
			<div class="beta"></div>
			<div class="main-menu fixedwidth row">
				<div id="search-container" class="span3">
					<form id="search-form" method="get" action="/search" accept-charset="UTF-8">
						<div class="input-wrapper">
							<input id="header-q" class="ui-autocomplete-input" type="text" autocomplete="off" name="q">
							<span><a id="header-search-btn" href="search/index"></a></span>
						</div>
					</form>
				</div>
				<div class="">
					<ul class="menu-right">
						<li class="vertical-bar"><a href="#">CONTACT US</a></li>
						<li class="vertical-bar"><a href="#">LEARN</a></li>
						<li><a href="#">REWARD</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
